.header__ctn {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__ctn .header__ctn--titulo1 {
  font-size: 4rem;
  font-style: italic;
  font-weight: 500;
  color: #294470;
}

.header__ctn .header__ctn--titulo2 {
  color: #31bcfe;
}

nav {
  background-color: #294470;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9);
}

.indexSection1 {
  background-image: url("../img/family.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.indexSection2 {
  height: 300px;
}

.indexSection2 a {
  font-size: 2rem;
  text-decoration: none;
}

.indexSection2 img {
  width: 50px;
}

.indexSection3 {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/bkNosotros.jpg");
  background-position: center;
  background-size: cover;
}

.indexSection3 .indexSection3__texto {
  color: white;
  font-size: 2rem;
  text-shadow: 0px 0px 17px white;
}

.indexSection4 {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.indexSection4 img {
  width: 120px;
}

.indexSection5 {
  height: 300px;
  background-image: url("../img/bk-redes.jpg");
  background-size: cover;
}

.indexSection5 p {
  font-size: 2rem;
  font-weight: 500;
}

.indexSection5 img {
  width: 100px;
}

.controlesSection1 {
  padding: 10px;
  background-color: #31bcfe;
}

.controlesSection1 .controlesSection1__titulo1 {
  color: white;
  font-size: 4rem;
  font-weight: 600;
  font-style: italic;
}

.controlesSection1 .controlesSection1__texto {
  font-size: 1.5rem;
  font-weight: 500;
}

.controlesSection1 .controlesSection1__img {
  width: 300px;
  -webkit-box-shadow: 0px 0px 5px 1px black;
          box-shadow: 0px 0px 5px 1px black;
}

.controlesSection2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.controlesSection2 .controlesSection2__ctn1--titulo {
  font-size: 3rem;
  color: #294470;
}

.controlesSection2 .controlesSection2__ctn2--texto {
  font-size: 1.5rem;
  font-weight: 500;
}

.controlesSection2 .controlesSection2__ctn2--img {
  -webkit-box-shadow: 0px 0px 5px 1px black;
          box-shadow: 0px 0px 5px 1px black;
}

.controlesSection3 {
  padding: 50px;
  background-image: url("../img/fondovendidos.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.controlesSection3 .controlesSection3__titulo {
  color: #294470;
}

.controlesSection3 .controlesSection3__img {
  margin: 5px;
  width: 200px;
  -webkit-box-shadow: 0px 0px 5px 1px grey;
          box-shadow: 0px 0px 5px 1px grey;
}

.serviciosSection1__ctn1 {
  background-image: url("../img/fondoservicios.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.serviciosSection1__ctn1 .serviciosSection1__ctn1--titulo {
  color: white;
  font-size: 5rem;
  font-weight: 600;
  font-style: italic;
}

.serviciosSection2 .serviciosSection2__ctn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  color: #294470;
}

.serviciosSection2 .serviciosSection2__ctn1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
}

.serviciosSection2 .serviciosSection2__ctn1 .serviciosSection2__ctn1Hijos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.serviciosSection2 .serviciosSection2__ctn1 .serviciosSection2__ctn1Hijos img {
  width: 100px;
}

.serviciosSection2 .serviciosSection2__ctn1 .serviciosSection2__ctn1Hijos p {
  font-weight: 500;
}

.serviciosSection3 {
  height: 400px;
  background-color: #294470;
  padding: 15px;
}

.serviciosSection3 .serviciosSection3__ctn1 img {
  width: 400px;
  height: 340px;
  -webkit-box-shadow: 0px 0px 5px 1px black;
          box-shadow: 0px 0px 5px 1px black;
}

.serviciosSection3 .serviciosSection3__ctn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.serviciosSection3 .serviciosSection3__ctn2 p {
  color: white;
  font-size: 2.5rem;
  font-weight: 300;
  text-shadow: 2px 2px 3px #969696;
}

.mayoritasSection1 .mayoritasSection1__ctn1 {
  padding: 10px;
  background-image: url("../img/fondomayoristas.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mayoritasSection1 .mayoritasSection1__ctn1 .mayoritasSection1__ctn1--titulo {
  color: #294470;
  font-size: 5rem;
  font-style: italic;
}

.mayoritasSection1 .mayoritasSection1__ctn2
.mayoritasSection1__ctn2--texto {
  color: grey;
  font-size: 2rem;
  font-weight: 300;
  padding: 30px;
}

.mayoritasSection1 .mayoritasSection1__ctn3 {
  padding: 30px;
}

.contactoSection1 {
  padding: 15px;
}

.contactoSection1 h3 {
  color: #294470;
}

.footer {
  background-color: #294470;
  color: white;
}

.footer .footer__span {
  font-size: 1.2rem;
  padding-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.c-principal {
  color: #294470;
}

.c-secundario {
  color: #31bcfe;
}

.c-gris {
  color: #cfcfcf;
}

.c-blanco {
  color: white;
}
/*# sourceMappingURL=estilos.css.map */