.crSection1{
    background-image: url("../img/fondoCR.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
       h2{
           color: white;
           font-size: 5rem;
           font-weight: 600;
           font-style: italic;
           background-color: #0009;
           padding: 10px;
       }
}

.crSection2{
    p{
        color:#294470;
        font-size: 2rem

    }
    img{
        width: 300px;
    }
}

.crSection3{
    background-color: #31bcfe;
    padding: 20px;
        h3{
            color:#294470;
            font-size: 3rem;
            font-style: italic;
        }
        p{
            color: #294470;
            font-size: 1.5rem;
        }
        img{
            width: 350px;
        }
}

.crSection4{
    img{
        width: 200px;
    }
}