// HEADER
.header__ctn{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
        a{
            text-decoration: none;
        }
        .header__ctn--titulo1{
            font-size: 4rem;
            font-style: italic;
            font-weight: 500;
            color: #294470;
        }
        .header__ctn--titulo2{
            color: #31bcfe;
        }

}

// MENU
nav{
    background-color: #294470;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: rgba(255, 255, 255, 0.9);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9);
}