// SECTION1 
.mayoritasSection1{
    .mayoritasSection1__ctn1{
        padding: 10px;
        background-image: url("../img/fondomayoristas.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 400px;
        display: flex;
        align-items: center;
        .mayoritasSection1__ctn1--titulo{
            color: #294470;
            font-size: 5rem;
            font-style: italic;
            @media (max-width: 576px){
                font-size: 3rem;
            }
        }
    }
    .mayoritasSection1__ctn2
        .mayoritasSection1__ctn2--texto{
            color:grey;
            font-size: 2rem;
            font-weight: 300;
            padding: 30px;
            @media (max-width: 576px){
                font-size: 1.5rem;
                text-align: justify;
            }
        }
        img{
            @media (max-width: 576px){
                width: 300px;
            }
        }
    .mayoritasSection1__ctn3{
        padding: 30px;
    }
}